.header{
    background: black;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
.header ul{
    display: flex;
    justify-content: space-around;
}
.header ul a:visited{
    color: white;
}
.header ul a:hover{
    color: crimson;
}
.header ul a{
      list-style: none;
      text-decoration: none;
       padding: 15px 20px;
       text-transform: capitalize;
}
@media(min-width:768px){
    .header ul a{
        font-size: 1.5rem;
        padding: 20px 50px;
    }
}
@media(min-width:1024px){
    .header ul a{
        font-size: 2.5rem;
        padding: 40px 70px;
    }
}